---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const basePath = import.meta.env.BASE_URL;
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-[960px] mx-auto pt-15 pb-15 pl-5 pr-5">
			<section>
				<ul class="flex flex-wrap m-0 p-0 list-none gap-[0.5em] md:gap-8 [&_li:first-child_img]:w-full md:[&_li:first-child_h4]:text-4xl">
					{
						posts.map((post) => (
							<li class="w-full md:w-[calc(50%-1rem)] text-center first:w-full md:first:mb-4 first:mb-0 first:text-center">
								<a class="block group" href={`${basePath}/blog/${post.id}/`}>
									{post.data.heroImage && (
										<Image class="mb-2 rounded-xl group-hover:shadow-custom transition" width={720} height={360} src={post.data.heroImage} alt="" />
									)}
									<h4 class="no-underline title m-0 leading-none text-black group-hover:text-accent transition">{post.data.title}</h4>
									<p class="m-0 text-gray no-underline group-hover:text-accent transition">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
